.container{
    display: block;
    width: 330px;
    height: 400px;
    text-align: center;
    margin: auto; 
    border: 1.5px solid black;
    border-radius: 10px;
    background-color:hsl(110, 29%, 85%);
    margin-top: 40px;
    overflow-y: auto;
    box-shadow: 2px 2px rgb(0, 0, 0);
}

.title{
    border: 1.5px solid black;
    border-radius: 10px;
    margin-left: 20px;
    margin-right:20px;
    padding-bottom: 2px;
    background-color: #c59dfe;
    box-shadow: 2px 2px black;
}

.input_area{
    border: 1.5px solid black;
    border-radius: 10px;
    width: 66%;
    height: 20px;
    margin-top: 7px;
    box-shadow: 2px 2px black;
    text-align: center;
    background-color: #f7faef;
}

.input_area::placeholder{
    margin-left: 25px;
}

#button{
    margin-left: 10px;
    border: 1.5px solid black;
    border-radius: 5px;
    background-color: #c59dfe;
    box-shadow: 2px 2px black;
}

.tasks{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
}

.tasks_item{
    display: flex;
    border: 1px solid black;
    width :50%;
    margin-left: 30px;
    border-radius: 10px;
    text-align: left;
    padding-left: 5px;
    margin-bottom: 7px;
    box-shadow: 2px 2px black;
    background-color:#FFEFD5;
}

.edit{
    display: flex;
    margin-left: 9px;
    border: 1.5px solid black;
    border-radius: 5px;
    background-color: #c59dfe;
    margin-bottom: 7px;
    padding-top: 2px;
    margin-top: 2px;
    box-shadow: 2px 2px black;
    height: fit-content;
}

.item{
    display: flex;
    width: 100%;
}

.remove{
    display: flex;
    margin-left: 9px;
    border: 1.5px solid black;
    border-radius: 5px;
    background-color: #c59dfe;
    margin-bottom: 7px;
    padding-top: 2px;
    margin-top: 2px;
    box-shadow: 2px 2px black;
    height: fit-content;
}

.actual_text{
    display: flex;
    padding-top: 2px;
    padding-left: 5px;
    white-space: normal;
  word-break: break-word;
}

body{
    background-color: #F7FFDD;
}